{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

<style>
    body {background:white;}
</style>

    {# <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-light" style="background-color: #4682B4;">   <a class="navbar-brand" href="#">SNS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Inscription/connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mangas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Forum</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genre</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Shonen</a>
              <a class="dropdown-item" href="#">Seinen</a>
              <a class="dropdown-item" href="#">Shojo</a>
              <a class="dropdown-item" href="#">Manwha</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Recherche" aria-label="Search">
        </form>
      </div>


      <form class="form-inline my-2 my-lg-0">
          <div class="input-group-append">
        <a class="btn btn-success btn-sm ml-3" href="cart.html">
          <i class="fa fa-shopping-cart"></i> Cart
          <span class="badge badge-light">3</span>
        </a>
      </form>
    </div>
  </div>
</nav> #}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Mon Panier</h1>
  </div>
</section>

{% if items | length > 0 %}

<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Produit</th>
              <th scope="col">Available</th>
              <th scope="col">Prix</th>
              <th scope="col" class="text-center">Quantité</th>
              <th scope="col" class="text-right">Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

          {% for item in items %}
            
            <tr>
              <td><img src="https://dummyimage.com/50x50/55595c/fff" /></td>
              <td>{{ item.product.titre }}</td>
              <td>In stock</td>
              <td>{{ item.product.prix }} €</td>
              <td><input class="form-control" type="text" value="{{ item.quantity }}" /></td>
              <td class="text-right">{{ item.product.prix * item.quantity }} €</td>
              <td class="text-right">
                <button class="btn btn-sm btn-danger">
                  <a style="color:white;" href="{{ path('panier_remove', {'idProduit': item.product.id }) }}"> <i class="fa fa-trash"></i> </a>
                </button>
              </td>
            </tr>

            {% endfor %}


            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Sub-Total</td>
              <td class="text-right"> {{ total }} €</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Shipping</td>
              <td class="text-right">6,90 €</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total</strong></td>
              <td class="text-right"><strong>{{ total + 6.90 }} €</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <button class="btn btn-block btn-light">Continue Shopping</button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <button class="btn btn-lg btn-block btn-success text-uppercase">
            Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}

<p> Panier vide </p>
  
{% endif %}

{% endblock %}
